*{
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 30px;
    width: 100vw;
    height: 100vh;
    background-color: lightslategray;
    #txt,
    h1{
        display: block;
        margin: 15px auto;
        padding: 15px;
        width: 80%;
        height: 75px;
        
        font-size: 1.5em;
        color: darkolivegreen;
        border: 1px solid aqua;
        border-radius: 8px;
        outline: none;
    }
    h1{
        text-align: center;
        color: snow;
        border: none;
    }
}