$primary_color: rgb(147, 201, 214);

@mixin noSpace{
    margin: 0;
    padding: 0;
}
@mixin centerFlex($direction, $option_wrap){
    display: flex;
    flex-flow: $direction $option_wrap;
    justify-content: center;
    align-items: center;
}

*{
    box-sizing: border-box;
}
html,body{
    @include noSpace;
    width: 100vw;
    min-height: 30vh;

    background-color: $primary_color;
}

main{    
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .layer{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .wrapper{
            position: absolute;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 800px;            
                border-radius: 12px;
                box-shadow: 3px 3px 10px 4px lightgrey;
                transform: translate(-50%, -50%);
            }
        }
    }

    .top{
        z-index: 2;
        background-color: lightslategray;
        h1, p{            
            position: absolute;
            top: 50%;
            right: 20px;
            width: 20%;
            color: snow;
        }
        p{
            top: 55%;
        }
    }

    .bottom{
        z-index: 1;
        background-color: snow;
        h1, p{            
            position: absolute;
            top: 50%;
            left: 20px;
            width: 20%;
        }
        p{
            top: 55%;
        }
    }

    .spliter{
        position: absolute;
        top: 0;
        left: 50%;        
        z-index: 3;
        width: 5px;
        height: 100%;
        background-color: darkorange;
        transform: translateX(-50%);
        &::after{
            position: absolute;            
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            content: '';
            background-color: snow;
            width: 60px;
            height: 60px;
            border: 3px solid darkorange;
            border-radius: 100%;
        }
    }
}