body{
    padding: 150px;
    
    .trigger{
        width: 200px;
        height: 200px;
        border: 5px solid lightblue;
        background-color: lightgrey;

        .box{
            display: inline-block;
            background-color: lightcoral;
            width: 200px;
            height: 200px;
            transition: transform 0.3s;
        }
    }
} 